@tailwind base;
@tailwind components;
@tailwind utilities;

.html,
body {
  background-color: #eceff1;
  height: 100vh;
  padding: 24px;
}

button {
  @apply bg-purple-700 text-white font-bold py-2 px-4 rounded;
}

.submitButton {
  @apply bg-teal-700 text-white font-bold py-2 px-4 rounded;
}

@media only screen and (max-width: 640px) {
  .html,
  body {
    margin: 16px;
  }
}
